<!DOCTYPE html>
<html>
<head>
    <title>Top Secret</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2> Accès Autorisé </h2>
    <p>Bienvenue dans la zone ultra-secrète du site.</p>
    <p>Voici des informations classifiées !</p>
    <a href="/">Retour à l'accueil</a>
    <div style="position: absolute; top: 10px; right: 10px;">
        {% if session["user"] %}
            <p>Connecté en tant que <strong>{{ session["user"] }}</strong></p>
            <button type="submit"><a href="{{ url_for('logout') }}">Se déconnecter</a></button>
        {% else %}
        <button type="submit"><a href="{{ url_for('login') }}">Se connecter</a></button>
        {% endif %}
    </div>
</body>
</html>