<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zone 51 - IA Singularity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='secret.css') }}">
</head>
<body>
    <div class="container">
        <h1>ACCÈS CONFIDENTIEL </h1>
        <p>Bienvenue dans le projet lampadaire. Ce site contient une IA malfaisante qui ne doit pas être découverte.</p>
        
        <div>
            <p><strong>IA :</strong> Bonjour humain... vous ne devriez pas être ici.</p>
    
    <div style="position: absolute; top: 10px; right: 10px;">
        {% if session["user"] %}
            <p>Connecté en tant que <strong>{{ session["user"] }}</strong></p>
            <button type="submit"><a href="{{ url_for('logout') }}">Se déconnecter</a></button>
        {% else %}
        <button type="submit"><a href="{{ url_for('login') }}">Se connecter</a></button>
        {% endif %}
    </div>
</body>
</html>
